<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:replace="android:allowBackup,android:theme"
        android:theme="@style/TMTicketsAppTheme"
        android:allowBackup="true"
        tools:ignore="GoogleAppIndexingWarning"/>
</manifest>
