<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ticketmasterignite">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:theme="@style/AppTheme" tools:replace="android:theme">
      <provider
        android:name=".TicketmasterInitProvider"
        android:authorities="${applicationId}.ticketmasterinitprovider"
        android:exported="false" />
      <activity
        android:name="com.ticketmaster.authenticationsdk.internal.modernaccounts.presentation.ModernAccountsLoginScreen"
        android:exported="true"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        tools:replace="android:launchMode">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_2" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_3" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_4" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_5" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_6" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_7" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_8" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_9" />
          <data android:scheme="@string/app_tm_modern_accounts_scheme_10" />
        </intent-filter>
      </activity>
      <activity
        android:name="com.ticketmaster.authenticationsdk.internal.sportxr.presentation.SportXRLoginScreen"
        android:exported="true"
        android:screenOrientation="portrait">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="@string/app_tm_sportxr_scheme" />
          <data android:scheme="@string/app_tm_sportxr_scheme_2" />
          <data android:scheme="@string/app_tm_sportxr_scheme_3" />
          <data android:scheme="@string/app_tm_sportxr_scheme_4" />
          <data android:scheme="@string/app_tm_sportxr_scheme_5" />
          <data android:scheme="@string/app_tm_sportxr_scheme_6" />
          <data android:scheme="@string/app_tm_sportxr_scheme_7" />
          <data android:scheme="@string/app_tm_sportxr_scheme_8" />
          <data android:scheme="@string/app_tm_sportxr_scheme_9" />
          <data android:scheme="@string/app_tm_sportxr_scheme_10" />
          <data android:host="login"/>
        </intent-filter>
      </activity>
      <activity
        android:name="com.ticketmasterignite.retail.PurchaseActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:exported="true"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
      </activity>
      <activity
        android:name="com.ticketmasterignite.retail.PrePurchaseActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:exported="true"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
      </activity>
    </application>
</manifest>

